
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        .container {
            position: relative;
        }

        .topright {
            position: absolute;
            top: 8px;
            right: 16px;
            font-size: 18px;
        }

        img {
            width: 100%;
            height: auto;
            opacity: 0.3;
        }
    </style>
</head>
<body>

    <h2>Splash</h2>

    <p>Splash Fashions Bangladesh</p>

    <div class="container">
        <img src="~/Pictures/splash.jpg" alt="Cinque Terre" width="1000" height="300">
        <div class="topright">Splash Fashions</div>
    </div>

</body>
</html>





